<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Burn Ban</title>
    <meta name="description" content="Is there a burn ban in your county?" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-cover flex justify-center items-center text-white min-h-screen text-center"
    style="
      background-image: url('https://images.unsplash.com/photo-1571040195944-85a412548a43');
    "
  >
    <div class="bg-sky-700 text-white mix-blend-hard-light p-24 max-w-2xl my-5">
        <h1 class="text-8xl font-bold mb-4">Hold the firewood!</h1>
        <p class="text-4xl border-b border-white pb-4 mb-4">
          First find out if your Texas county has issued a burn ban:
        </p>
    
        {{ range .counties }}
          <p class="text-4xl uppercase hover:underline py-2">
            <a href="/county/{{ .Name }}">
            {{ .Name }}
            </a>
          </p>
        {{ end }}
        <p class="text-2xl hover:underline pt-4 border-t border-white mt-4">
            <a href="/request-county">
              Request your county
            </a>
          </p>
    </div>
  </body>
</html>
